node_modules
# Keep environment variables out of version control
.env
secrets/firebase-admin-backend.json
secrets/*.json

/generated/prisma

# Tool caches (Prisma, Node)
Library/
secrets/gcp-proxy-key.json
